.class {
    background-color: rgb(255,168,181);
    font-family: "Veranda, DejaVu Sans, Sans", sans-serif;
}

.two {
    font-size: 24px;
}

#id_1 {
    color: rgb(0,0,255);
    font-size: 36px;
}

#id_2 {
    background-color: rgb(0,255,0);
    font-size: 24px;
    font-weight: bold;
}